// 색상 변수
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #007bff;
$text-color: #333;
$background-color: #f4f4f4;

// 폰트 및 크기 변수
$base-font: 'Arial, sans-serif';
$base-padding: 10px;
$section-padding: 40px;